<!-- sobre.html -->
<div class="page-header">
    <h1>Página Clientes!</h1>
</div>

<!-- Speakers -->
<div class="py-5 bg-light" id="speakers">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>Clientes Assimok</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 animate-in-left">
          <a href="#">
            <img src="assets/equipe/people_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Matthew Jong</b></h3>
            <p class="text-muted">UI designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="#">
            <img src="assets/equipe/people_2.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Anna da Vinci</b></h3>
            <p class="text-muted">UX/UI designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-3 animate-in-left">
          <a href="#">
            <img src="assets/equipe/people_4.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Emily Wang</b></h3>
            <p class="text-muted">Front-end developer</p>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="#">
            <img src="assets/equipe/people_5.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>John Morgan</b></h3>
            <p class="text-muted">Bootstrap evangelist</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  