<!-- contato.html 
<div class="page-header">
    <h1>Página Sistemas!</h1>
</div>  -->
 <!-- Cover 
 <div class="d-flex align-items-center section-aquamarine py-5 cover" style="background-image: url(&quot;assets/equipe/cover.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="display-2 d-none d-md-block">ASSIMOK SISTEMAS</h1>
          <h1 class="display-4 d-block d-md-none">Conference Pingendo</h1>
          <p class="">Sistemas de Automação pra sua empresa</p>
          <a href="#register" class="btn btn-lg mt-4 btn-outline-light">Ver detalhes</a><i class="d-block fa fa-angle-down pt-5 fa-3x"></i>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Parallax section 
  <div class="py-5 section-parallax" style="background-image: url(&quot;assets/equipe/venue.jpg&quot;);">
    <div class="container my-5 bg-light p-4">
      <div class="row mx-auto">
        <div class="col-md-12">
          <h1 class="mb-3">O Maior Evento de Automação</h1>
          <p class="">Three days immersion in the world of UX/UI prototyping. Meet the most important design influencer of the moment, assist to speeches given by worldwide known designers and much, much more. The unique possibility to enhance your professionality with the smallest effort.</p>
          <a href="#schedule" class="btn btn-outline-primary btn-lg m-2">Schedule</a>
          <a class="btn btn-primary btn-lg m-2" href="#register">Register</a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Speakers 
  <div class="py-5 bg-light" id="speakers">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>Clientes Assimok</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 animate-in-left">
          <a href="#">
            <img src="assets/equipe/people_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Matthew Jong</b></h3>
            <p class="text-muted">UI designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="#">
            <img src="assets/equipe/people_2.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Anna da Vinci</b></h3>
            <p class="text-muted">UX/UI designer</p>
          </a>
        </div>
        <div class="col-6 col-lg-3 animate-in-left">
          <a href="#">
            <img src="assets/equipe/people_4.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>Emily Wang</b></h3>
            <p class="text-muted">Front-end developer</p>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="#">
            <img src="assets/equipe/people_5.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>John Morgan</b></h3>
            <p class="text-muted">Bootstrap evangelist</p>
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Schedule -->
  <div class="py-5 section-parallax" style="background-image: url(&quot;assets/equipe/schedule.jpg&quot;);" id="schedule">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white mt-4">Sistemas de Alta Qualidade</h1>
        </div>
      </div>
      <div class="row text-left text-dark">
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>SGBR Sistemas</h2>
              <p class="lead">Sistema Geral</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Welcome</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Bootstrap</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>Q&amp;A</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Besties</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Workshop</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>ECGE Sistemas</h2>
              <p class="lead">Sistema pra Restaurantes</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>Guests</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Design</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>UI trends</b></li>
              <li class="list-group-item bg-info"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Discussion</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o text-primary"></i>&nbsp;16:00-18:00 –&nbsp;<b>Party!</b></li>
            </ul>
          </div>
        </div>
        <div class="p-4 col-lg-4">
          <div class="card text-dark">
            <div class="card-block text-center p-2">
              <h2>Assimok Informática</h2>
              <p class="lead">Sistema Mesa</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;09:30-10:00 –&nbsp;<b>WBN</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;10:00-12:00 –&nbsp;<b>Publishing</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;12:00-13:00 –&nbsp;<b>Implement</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;13:00-14:30 –&nbsp;<b>Lunch</b></li>
              <li class="list-group-item"><i class="mx-auto fa d-inline fa-handshake-o text-primary"></i>&nbsp;14:30-16:00 –&nbsp;<b>Farewell</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 section bg-faded bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4">Parceiros</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="assets/equipe/logo_1.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="assets/equipe/logo_4.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="assets/equipe/logo_3.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="assets/equipe/logo_2.png"> </div>
      </div>
    </div>
  </div>
  <!-- Sponsor logos -->
  <!-- Call to action -->
  <div class="py-5 section-aquamarine" id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-md-left text-center">
          <h1 class="text-white">Registrations are open</h1>
          <p>Pre-register to get a priority access to the event. Fares will be published later on.&nbsp; <br>Get the maximum from the lectures together with the possibility of joining exclusive side-events.</p>
        </div>
        <div class="col-md-4 align-self-center animate-in-right">
          <a href="#" class="btn btn-lg btn-light my-3">Register now</a>
        </div>
      </div>
    </div>
  </div>
  